body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
}
/* mainpage config */

.top-header{
    display: flex;
    flex-direction: column;
    align-items:center;
    color: white;
    margin-top: 0px;
    background-color: #590C13;
}
.top-header a{
    text-decoration: none;
    color:white;
}
.top-header ul{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 150px;
}
.top-header li{
    background-color: #f43f5e;
    box-shadow: 10px 10px 0px 0px;
    border: 2px solid white;
    text-decoration: none;
    cursor: pointer;
    padding: 40px;
    list-style: none;
    border:2px solid black;
    font-size: x-large;
     border-radius: 10px;

}
/*=================== CONTENT ======================*/
.content{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    border: 10px solid white;

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 1200px;
    background-color: #590C13;

}
.card h1{
    border-bottom: 4px solid rgb(67, 120, 155);
    padding-bottom: 5px;
}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 480px) {
    .top-header{
        text-align: center;
    }
    .top-header ul {
        text-align: center;
        padding: 10px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card {
        max-width: 100%;
        width: 100%;
        border-width: 5px;
        padding: 16px;
        text-align: justify;
    }
}