<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Available articles</h1>
    <ul>
        {% for article in articles %}
            <li><a href="{% url 'articles:article-detail' article.slug %}">{{ article.title }} | Category: {{ article.category }}</a></li>
        {% empty %}
            <p>No posts so far!</p>
        {% endfor %}
    </ul>
    <p>Total: {{articles|length}} </p>
</body>
</html>