{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'src/mainpage.css' %}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">    
      <title>Document</title>
</head>
<body>
    <header class="top-header">
        <a href="/"><img src="{% static 'img/banner_vidriera.png' %}"></a>
    </header>
        <div class="rest-body">
            <nav>
                <div class="cards">
                    <ul>
                        <li><a href="./articles/"><div class="card red article"><p>Articles</p></div></a></li>
                        <li><a href="/articles/categories/"><div class="card red category"><p>Categories</p></div></a></li>
                        <li><a href="./articles/campaigns/"><div class="card red campaign"><p>Campaigns</p></div></a></li>
                        <!-- <li><a href="./admin/"><div class="card red"><p>Admin</p></div></a></li> -->
                    </ul>
                </div>
            </nav>
        <!--Top 5 new articles will be displayed here-->
            <div class="divider-center">
                <img src="{% static 'img/divider.png' %}" class="divider">
            </div>
            <div class="articles">
                <h2><a href="./articles/">Top 5 NEW articles</a></h2>
            </div>
            <div class="articles-wrapper">
                <div class="articles-content">
                    <table>
                        <tr>
                            <th>Article</th>
                            <th>Category</th>
                        </tr>
                        {% for article in articles %}
                        <tr>
                            <th><article><a href="{% url 'articles:article-detail' article.slug %}">{{ article.title }}</a></article></th>
                            <th>{{article.category}}</th>
                        </tr>
                            {% endfor %}
                    </table>
                    <p>Total: {{articles|length}}</p>
                </div>
            </div>
            <hr>
            <div class="categories-wrapper">
                <h2>Categories</h2>
                    <div class="cards">
                        <ul>
                            {% for category in categories %}
                            <li><a href="{% url 'articles:category-detail' category.slug %}"><div class="card red {% cycle 'lore' 'curiosities' 'rumours' 'characters' %}"><p>{{ category.category_name }}</p></div></a></li>
                            {% endfor %}
                        </ul>
                    </div>                            
            </div>
            <br>
            <hr>
            <div class="campaign-wrapper">
                <h2>Campaigns</h2>
                <p>Perhaps you might be looking for all the articles related to a campaign. Go ahead and look for it!</p>
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Status</td>
                    </tr>
                    {% for campaign in campaigns %}
                    <tr>
                        <td><a href="{% url 'articles:campaign-detail' campaign.slug %}">{{campaign.title}}</a></td>
                        <td>{{campaign.state}}</td>
                    </tr>
                    {% endfor %}
                </table>        
            </div>
            <div class="join-us">
                <h1>Wanted: Heroes!</h1>
                <a href="/heroes/"><img src="{% static 'img/sam.jpg' %}" alt="" class="wanted-poster"></a>
            </div>
        </div>
    </div>
    <footer class="footer-social">
        <div class="footer-social-top">
            <p>Follow us!</p>
            <div class="social-links">
                <a href="https://twitter.com/tu_usuario"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
                <a href="https://github.com/tu_usuario"><i class="fa-brands fa-github fa-2x"></i></a>
                <a href="https://www.instagram.com/in/tu_usuario"><i class="fa-brands fa-instagram fa-2x"></i></a>
            </div>
        </div>
    <p class="footer-social-copy">© 2026 Dungeons and Dragos</p>
    </footer>
    
</body>
</html>